<!doctype html>
<html>
  <head>
    <title>Web Development with Node and Express</title>
  </head>
  <body>
    <h1>Web Development With Node and Express</h1>
    <hr />
    {{{body}}}
  </body>
</html>
